.navImg {
  width:45px;
  height:auto;
}

/* home page */

.homepage{
   background-image: linear-gradient(rgba(0, 0, 0, 0.4), white), url("images/homepagebanner.jpeg");
}
/* current leaderboard container*/

.leaderboard {
  width:60%;
  margin:auto;
  min-width:600px;
}

.pageTitle {
  text-align: center;
  font-family: 'Maven Pro', sans-serif;
  padding:50px;
}

.header1 {
  text-align:center;
}

/******
CURRENT LEADERBOARD TABLE CSS
******/
.chart {
  width:100%;
  border:0px solid darkslategray;
  background:#f5f5f5;
  margin:auto;
  padding:10px 10px 10px 10px;
  display:flex;
  flex-direction: column-reverse;
}

.bar{
  height:6vh;
  background-color: #f0f0f0;
  margin:10px 10px 10px 0px;
  border-radius:0px 4vh 4vh 0px;
  border: 1px solid gray;
  border-left-width:0px;
  font-family: 'Inter', sans-serif;
  padding:1.3%;
}

/*
@keyframes animate {
  0%{
    left: -500px;
    opacity: 0;
  }
  100%{
    left: 0;
    opacity: 1;
  }
}
*/

.points{
  display:inline;
  float:right;
}

#pukeatuaBar{
  background-color: orange;
}

#pukearikiBar{
  background-color: #A865C9;
}

#tararuaBar{
  background-color: white;
}

#orongorongoBar{
  background-color: pink;
}

#maitarangiBar{
  background-color: yellow;
}

#remutakaBar{
  background-color:green;
}

/* lightbox custom css*/
.lightbox{
  background:none;
  border:none;
}

.link{
  margin-top:10px;
  color: #069;
  text-decoration: underline;
  padding:0;
  border:none;
  background:none;
}

/* Housepage Menu CSS */

.c1{
  margin:auto;
  width:95%;
  display:flex;
  flex-wrap:wrap;
  flex-direction:row;
  justify-content:space-evenly;
  padding:10px;
}

.d1{
  text-align:center;
  width:25vw;
  height:20vh;
   min-width:300px;
  min-height:200px;
  border-radius:25px;
  border:1px solid black;
  margin:15px;
  transition-duration: 0.4s;
}

.houseImg {
  height:85%;
  width:100%;
  border-radius:23px 23px 0px 0px;
}

.houseName{
  text-align:center;
  padding:2px;
  font-family: 'Inter', sans-serif;
  height:15%;
  width:100%;
  background:darkslategray;
  color:lightgray;
  border-radius:0px 0px 23px 23px;
}

.d1:hover .houseName {
  color:#ffffff;
}

.d1:hover {
 transform: scale(1.1);
}

a {
  text-decoration:none;
}

.houseLogo {
  height:100%;
}

/* House pages CSS */
.hero-image {
  height: 60vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
}

.maitairangi{
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), white), url("maitairangibackground.jpeg"); 
}

.remutaka{
   background-image: linear-gradient(rgba(0, 0, 0, 0.4), white), url("remutakabanner.jpeg");
}
.orongorongo{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), white), url("orongorongobanner.jpeg"); 
}

.pukeariki{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), white), url("pukearikibanner.jpeg"); 
}

.pukeatua{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), white), url("pukeatuabanner.jpeg"); 
}

.tararua{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), white), url("tararuabanner.jpeg"); 
}

.hero-text {
  padding-top:25vh;
  color: white;
  font-family: 'Maven Pro', sans-serif;
}

.hero-text h1 {
  font-size:calc(32px + 1.5vw);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Maven Pro', sans-serif;
}

p{
  font-family: 'Inter', sans-serif;
}

.c2{
  display:flex;
  flex-direction: row;
  width:95%;
  margin:auto;
}

.houseInfo{
  width:66%;
}


.housePics{
   flex-grow: 1;
  text-align:center;
}

a, figure {
    display: inline-block;
}
.houseCaptain {
  border:5px solid #000000; 
  padding:3px; 
  margin:5px;
  width:10vw;
  min-width:100px;
  height:auto;
}
figcaption {
    margin: 10px 0 0 0;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color: black;
}
figure {
    padding: 5px;
}

/* All-time leaderboard table css  */


.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}


.ul1{
  padding-left:0px;
  margin-left:0px
}

.li1 {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}
.table-header {
    background-color: #95A5A6;
    font-size: 14px;
    letter-spacing: 0.03em;
}
.table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
}
.col-1 {
    flex-basis: 20%;
}
.col-2 {
    flex-basis: 70%;
}
.col-3 {
    flex-basis: 10%;
}



/* changes for mobile */

@media (max-width:900px){
  .c2{
    flex-direction:column-reverse;
    flex-wrap:nowrap;
  }
  .houseInfo{
    width:100%;
  }
  .houseCaptain:{
    width:200px;
  }
}

@media (max-width:600px){
  .c1 {
    width:100%;
  }
  .hero-image{
    height:45vh;
  }
  .hero-text{
    padding-top:15vh;
    
  }
  .leaderboard{
    width:100%;
    min-width:50px;
  }
}


